.text__body {
  font-size: 16px;
  color: black;
  opacity: 0.75;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.text__header {
  font-weight: bold;
  font-size: 32px;
  color: black;
}

.text__list {
  margin-left: 40px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width:600px) {
  .text__body {
    font-size: 16px;
  }

  .text__header {
    font-weight: bold;
    font-size: 24px;
    color: black;
  }

  .text__summary {
    visibility: hidden;
  }
}
