.text__body {
  font-size: 16px;
  color: rgb(0, 0, 0, 0.75);
  /* opacity: 0.75; */
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
  line-height: 24px;
}

.text__header {
  font-weight: bold;
  font-size: 32px;
  color: black;
  margin-bottom: 12px;
}

.mt-5 {
  margin-top: 40px;
}

.text__list {
  margin-left: 32px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.indent {
  margin-left: 12px;
}

.pointer {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: underline;
}

.cheatsheet {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.img-breakdown {
  width: auto;
  z-index: 1;
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.tooltip-text {
  cursor: pointer;
}

.checklist {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 75%;
  margin-top: 12px;
  padding: 16px;
  background: white;
}

@media only screen and (max-width:600px) {
  .text__body {
    font-size: 16px;
  }

  .text__header {
    font-weight: bold;
    font-size: 24px;
    color: black;
  }

  .text__summary {
    visibility: hidden;
  }

  .img-breakdown {
    width: 100%;
  }

  .checklist {
    width: auto;
  }

  .checklist-tooltip {
    width: 84vw;
  }
}
