.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  left: 0;
}

.page-container {
  margin: 15vh auto auto 15vw;
  width: 50vw;
}

.logo {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  width: 33vw;
}

.page-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 100px;
  height: 30px;
  z-index: 100;
}

.page-button-long {
  width: 150px;
}

.page-button-prev {
  right: 120px;
}

.page-button__element {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-button__image {
  object-fit: cover;
  opacity: 0.5;
  visibility: hidden;
}

.page-button__text {
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width:600px) {
  body {
    overflow-x: hidden;
  }

  .container {
    position: absolute;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .container-text {
    margin: 20px 8vw auto 8vw;
    display: flex;
    flex-direction: column;
  }

  .logo-mobile {
    margin: 40px 5px 5px 5px;
    width: calc(100vw - 10px);
  }
}
