.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.text-container {
  margin: 30vh auto auto 10vw;
  /* left: 10vw; */
  /* top: 15vh; */
  width: 36vw;
}

.text__header {
  font-weight: bold;
  font-size: 36px;
  color: black;
}

.logo {
  /* position: absolute; */
  margin: 66vh auto auto 20vw;
  /* top: 66vh; */
  /* left: 20vw; */
  width: 18vw;
}
